.top_bar{
    background-color: black;
    height: 100px;
    line-height: 10px;
    flex-direction: column;
}

.logo{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 10px;
    display: inline;
}

.nav_item{
    display: inline;
    vertical-align: 30px;
    margin-right: 30px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}