.page_container{
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(to right,black,white,black);
}

/*NAVIGATION BAR STYLE*/
.top_bar{
    background-color: black;
    height: fit-content;
}

.top_bar .logo{
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 10px;
    display: inline;
}

.nav_item{
    display: block;
    color: white;
    font-size: calc(18px + 1.5vw);
    text-decoration: none;
}

a.nav_item:hover{
    color: rgb(99, 99, 99);
}

.menu_button{
    width: 70px;
    height: 70px;
    margin: 0;
    display: inline;
    float: right;
    background-color: black;
    padding: 0 0 0 0;
    border-width: 0;
}

.menu_button .menu{
    width: 60px;
    height: 60px;
    padding: 15px 0 15px 0;
}

.menu_button .menu:hover{
    width: 50px;
    height: 50px;
}
/*NAVIGATION BAR STYLE END*/

/*ABOUT US SECTION STYLE*/
.about_us{
    margin-top: 50px;
    width: 100%;
    background-image: url('../media/buildings_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.about_us :after{
    padding-top: 30%;
    display: block;
    content: '';
}

.about_us .left{
    width: 50%;
    display: inline;
    float: left;
    text-align: center;
    position: absolute;
}

.about_us .right{
    width: 50%;
    display: inline;
    float: right;
    text-align: center;
}

.about_us .left .text{
    text-align: center;
    color: rgb(255, 255, 255);
    transform: translate(0, 70%);
    font-weight:bolder;
    font-size: 1.3vw;
}

.about_us .right .design_student{
    margin: auto;
    max-height: 80%;
    max-width: 70%;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    transform: translate(0, 10%);
}
/*ABOUT US SECTION STYLE END*/

/*FOOTER STYLE*/
.footer_whole{
    height: 150px;
    width: 100%;
    background-color: black;
    position: absolute;
    margin-top: 100px;
    bottom: 0;
}

.footer_whole .footer_row{
    display:flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
  }

.footer_whole .footer_column{
    margin: auto;
    text-align: center;
    width: 50%;
    height: inherit;
    display: inline-block;
    font-size: 25px;
}

.footer_whole .footer_row .footer_column .footer_item{
    color: white;
    text-decoration: none;
}

.footer_whole .footer_row .footer_column .footer_item:hover{
    color: rgb(99, 99, 99);
}
/*FOOTER STYLE END*/